@font-face {
  font-family: "Alta Typeface";
  src: url(font/Alta_Typeface/Alta_caption.otf);
  src: url(font/Alta_Typeface/Alta_light.otf),
    url(font/Alta_Typeface/Alta_regular.otf),
    url(font/Alta_Typeface/www.dfonts.org.url)
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}



html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
  margin: 0;
  line-height: normal;
}
.logo-icon {
  position: rela
  tive;
  width: 63px;
  height: 27px;
  flex-shrink: 0;
  overflow: hidden;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-four,
.link-one {
  position: relative;
  line-height: 150%;
  text-decoration: none;
  color: #000;
}

.link-one1{
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: #FFF;
  font-family: var(--heading-h5);
}
.link-four {
  border: 0;
  font-family: var(--heading-h5);
  font-size: var(--text-regular-semi-bold-size);
  background-color: transparent;
  color: var(--black);
  text-align: left;
}
.chevron-down-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.column1,
.nav-link-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.column1 {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.button1 {
  border: 0;
  background-color: transparent;
  font-family: var(--heading-h5);
  font-size: var(--text-regular-semi-bold-size);
  position: relative;
  line-height: 150%;
  color: var(--white);
  text-align: left;
}
.button {
  background-color: var(--black);
  border: 1px solid var(--black);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-md);
  align-items: center;
}
.button,
.column2,
.container {
  display: flex;
  justify-content: center;
}
.column2 {
  flex: 1;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-end;
}
.container {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-lg);
}
.navbar-2,
.placeholder-image {
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  
}
.navbar-2 {
  background-color: var(--white);
  box-shadow: 0-1px 0#000 inset;
  height: 72px;
  overflow: hidden;
  /* display: none; */
  flex-direction: column;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--black);
  /* margin-bottom: 10px; */
}
.placeholder-image {
  height: 800px;
  /* object-fit: cover; */
}
.describe-exactly-what,
.resonate-with-the {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.describe-exactly-what {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--heading-h5);
}
.section-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.placeholder {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.text-input {
  flex: 1;
  background-color: var(--white);
  border: 1px solid var(--black);
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.button2,
.form,
.text-input {
  display: flex;
  flex-direction: row;
}
.button2 {
  background-color: var(--black);
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.form {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.terms-and-conditions {
  text-decoration: underline;
}
.by-clicking-sign-container {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  line-height: 150%;
  color: var(--black);
}
.actions,
.content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  width: 513px;
  display: flex;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  font-size: var(--text-regular-semi-bold-size);
  color: var(--neutral-dark-gray);
  font-family: var(--heading-h5);
}
.content {
  flex: 1;
  display: none;
  gap: var(--gap-md);
}
.placeholder-image1 {
  flex: 1;
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  height: 640px;
  object-fit: cover;
  display: none;
}
.layout-1 {
  position: absolute;
  top: 72px;
  left: 0;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
  display: none;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  font-size: 56px;
  color: var(--black);
  font-family: var(--font-alta);
}
.placeholder-image2 {
  flex: 1;
  position: relative;
  max-width: 616px;
  overflow: hidden;
  height: 640px;
  object-fit: cover;
}
.womens-footwear {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.our-collection-features {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content2,
.section-title1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  gap: var(--gap-md);
  text-align: left;
  font-size: var(--heading-h2-size);
}
.section-title1 {
  gap: var(--gap-sm);
}
.actions1,
.button4 {
  flex-direction: row;
  align-items: center;
}
.button4 {
  border: 1px solid var(--grey-700);
  display: flex;
  padding: var(--padding-xs) var(--padding-lg);
  justify-content: center;
}
.actions1 {
  padding: var(--padding-sm) 0 0;
  text-align: left;
  color: var(--grey-700);
}
.actions1,
.content1,
.layout-192 {
  display: flex;
  justify-content: flex-start;
}
.content1 {
  flex: 1;
  padding-left: 70px;
  padding-right: 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-md);
}
.layout-192 {
  position: absolute;
  top: 900px;
  left: 0;
  background-color: var(--refresh);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-3xl);


}
.we-offer-a {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  color: var(--refresh);
}
.content4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
  text-align: left;
  font-size: var(--heading-h2-size);
  color: var(--calm);
}
.actions2,
.button6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button6 {
  border: 1px solid var(--refresh);
  padding: var(--padding-xs) var(--padding-lg);
  justify-content: center;
}
.actions2 {
  padding: var(--padding-sm) 0 0;
  justify-content: flex-start;
  text-align: left;
}
.layout-239,
.layout-240 {
  position: absolute;
  left: 0;
  background-color: var(--nature);
  width: 100%;
  overflow: hidden;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: center;
  color: var(--refresh);
}
.layout-239 {
  top: 1664px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.layout-240 {
  top: 3392px;
}
.button10,
.layout-240,
.layout-241 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button10 {
  border: 1px solid var(--deep-blue);
  padding: var(--padding-xs) var(--padding-lg);
  justify-content: center;
}
.layout-241 {
  position: absolute;
  top: 2528px;
  left: 0;
  background-color: var(--refresh);
  width: 100%;
  overflow: hidden;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: center;
}
.icon-relume {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
}
.craftsmanship,
.handcrafted-by-skilled {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.handcrafted-by-skilled {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.layout-238 {
  position: absolute;
  top: 4256px;
  left: 0;
  background-color: var(--deep-blue);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  font-size: var(--heading-h5-size);
  color: var(--refresh);
}
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  color: var(--black);
}
.section-title9_gal_13 {
  width: 768px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  
}
.button12,
.button13 {
  position: absolute;
  top: calc(50% - 28px);
  border-radius: var(--br-md);
  background-color: var(--white);
  border: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: center;
}
.button12 {
  left: 32px;
}
.button13 {
  right: 32px;
}
.dot-icon {
  position: relative;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  display: none;
}
.slider-dots {
  position: absolute;
  top: 840px;
  left: 698px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
}
.placeholder-image6 {
  align-self: stretch;
  position: relative;
  height: 900px;
  flex-shrink: 0;
  overflow: hidden;
  background-image: url(./public/placeholder--image6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.gallery-13 {
  position: absolute;
  top: 4730px;
  left: 0;
  background-color: var(--refresh);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: center;
  font-size: var(--heading-h2-size);
}
.end-to-end1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.design-to-delivery {
  margin: 0;
}
.end-to-end-container {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h2-size);
  line-height: 120%;
  font-family: var(--font-alta);
  color: var(--nature);
}
.placeholder-image7 {
  position: relative;
  width: 616px;
  height: 883px;
  flex-shrink: 0;
  object-fit: cover;
}
.button14 {
  border: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.actions5,
.column7 {
  display: flex;
  justify-content: flex-start;
}
.actions5 {
  flex-direction: row;
  padding: var(--padding-sm) 0 0;
  align-items: center;
  color: var(--black);
}
.column7 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.divider {
  position: relative;
  border-right: 2px solid var(--black);
  box-sizing: border-box;
  width: 2px;
  height: 102px;
  flex-shrink: 0;
}
.content10,
.content11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.content11 {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.timeline-item,
.timeline-item1,
.timeline-item2,
.timeline-item3,
.timeline-item4,
.timeline-item5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 616px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.timeline-item1,
.timeline-item2,
.timeline-item3,
.timeline-item4,
.timeline-item5 {
  top: 178px;
}
.timeline-item2,
.timeline-item3,
.timeline-item4,
.timeline-item5 {
  top: 356px;
}
.timeline-item3,
.timeline-item4,
.timeline-item5 {
  top: 534px;
}
.timeline-item4,
.timeline-item5 {
  top: 712px;
}
.timeline-item5 {
  top: 890px;
}
.content22,
.timeline-item6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.timeline-item6 {
  position: absolute;
  top: 1068px;
  left: 0;
  width: 616px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.timeline-item-parent {
  position: relative;
  width: 616px;
  height: 1154px;
  flex-shrink: 0;
}
.timeline {
  flex: 1;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--heading-h6-size);
  color: var(--black);
}
.layout-121 {
  position: absolute;
  top: 5931px;
  left: 0;
  background-color: var(--refresh);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.layout-121,
.links,
.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}
.links {
  flex-direction: row;
  gap: var(--gap-lg);
}
.content24,
.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-links {
  flex: 1;
  justify-content: flex-end;
  gap: 12px;
}
.content24 {
  width: 1312px;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.divider6 {
  align-self: stretch;
  position: relative;
  background-color: var(--black);
  height: 1px;
  flex-shrink: 0;
}
.privacy-policy {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.credits,
.footer-4,
.row {
  justify-content: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-md);
}
.credits,
.footer-4 {
  flex-direction: column;
}
.credits {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
  font-size: var(--text-small-normal-size);
}
.footer-4 {
  position: absolute;
  top: 9041.78px;
  left: 0;
  background-color: var(--white);
  overflow: hidden;
  display: none;
  padding: 80px var(--padding-xl);
  align-items: flex-start;
  gap: var(--gap-2xl);
  color: var(--black);
}
.button16,
.content25 {
  display: flex;
  align-items: center;
}
.content25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 702px;
  flex-direction: column;
  justify-content: flex-start;
}
.button16 {
  background-color: var(--calm);
  border: 1px solid var(--calm);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  justify-content: center;
}
.button-wrapper {
  position: absolute;
  top: 289px;
  left: 272px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--deep-blue);
}
.content-parent {
  position: relative;
  width: 702px;
  height: 357px;
  flex-shrink: 0;
}
.cta-34 {
  position: absolute;
  top: 7321px;
  left: 0;
  background-color: var(--deep-blue);
  width: 100%;
  height: 525px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--calm);
}
.navbar-child {
  position: absolute;
  top: 28px;
  left: 842px;
  width: 16px;
  height: 16px;
}
.content-child {
  position: relative;
  width: 238px;
  height: 37.31px;
  flex-shrink: 0;
}
.column8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button18_hero {
  border: 1px solid var(--deep-blue);
  padding: var(--padding-3xs) var(--padding-md);
}
.button18_hero,
.button20_hero,
.column10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button20_hero {
  background-color: var(--deep-blue);
  border: 1px solid var(--deep-blue);
  padding: var(--padding-3xs) var(--padding-md);
  color: var(--white);
}
.column10 {
  gap: var(--gap-sm);
}
.content27_nav,
.en {
  position: absolute;
}
.content27_nav {
  top: 0;
  left: 0;
  background-color: var(--refresh);
  box-shadow: 0-1px 0#000 inset;
  width: 100%;
  height: 72px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.en {
  top: 24px;
  left: 1390px;
  line-height: 150%;
}
.content-group_nav,
.navbar {
  position: absolute;
  top: 0;
  /* left: 8px; */
  width: 100%;;
  height: 72px;

}
.navbar {
  top: -69px;
  /* left: -7px; */
}
.home-3 {
  position: relative;
  background-color: var(--refresh);
  width: 100%;
  height: 7961px;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--deep-blue);
  font-family: var(--heading-h5);
}


/* .flex-container {
  display: flex;
  background-color: DodgerBlue;
} */

.nav_new {
/* position: absolute; */
width: 100%;
height: 72px;
left: 8px;
top: 0px;
/* align-items: center; */

}
.nav_cont {
  /* Column */
text-align: center !important;
justify-content: center;
margin: auto;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
/* gap: 24px; */

width: 80%;
height: 24px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

/* .nav_item { */
/* width: 44px; */
/* height: 24px; */

/* Text/Regular/Normal */
/* padding-top: 50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150%;
display: block;
  padding-right: 22px; */
/* identical to box height, or 24px */


/* Deep Blue */

/* color: #232F45;
 */

/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;
}



li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */
#hero {
  position: absolute;
  width: 100%;
  margin-top: -20px;
  height: 800px;
  /* padding-top: 10px; */
  margin-bottom: 50px;

}
.slider{
  width: 100%;
  height: 1080px;
}

.text{
  text-align: center;
  font-size: 50PX;
  position: absolute;
width: 745.37px;
height: 41.42px;
left: 347px;
top: 362px;
/* background: #DAE3EA; */
color:  #DAE3EA;;

}

.navbar,
.navbar > .container {
  position: absolute;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  /* margin-bottom: 10px; */
}
@media (max-width: 768px) {
  .navbar,
.navbar > .container {
    display: block;
  }
}

/* .navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
/* } */ 
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu.active {
  display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

.slider {
  position: relative;
  text-align: center;
}

.content122{
  /* font-family: ; */
  letter-spacing: 10px;
  font-size: 80px;
  font-family: "Alta Typeface";
  color: #DAE3EA;
  font-weight: 300;
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content123{
  font-size: 24px;
  font-family: "Roboto";
  text-align: center;
  color: #DAE3EA;
  font-weight: 100;
  z-index: 20;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@media (max-width: 800px) {
  .layout-192 {
    flex-direction: column;
    max-height: 900px;
  }
  .layout-239 {
    padding: 8px 8px 8px 8px;
    top: 1864px;
    flex-direction: column;
    max-height: 1200px;
  }
  .layout-241  {
    padding: 8px 8px 8px 8px;
    flex-direction: column;
    top: 4228px;
    max-height: 1200px;
  }
  .placeholder-image2 {
    width: 400px;
  }
  .layout-240 {
    padding: 8px 8px 8px 8px;
    top: 3000px;
    flex-direction: column;
    max-height: 1300px;
  }
  .layout-238{
    margin-top: 40px;
    top: 5300px;
    max-height: 1900px;
    flex-direction: column;
  }
  .gallery-13{
    margin-top: 40px;
    top: 7200px;
    max-height: 1800px;
    flex-direction: column;
  }
  
  .layout-121{
    margin-top: 40px;
    top: 7800px;
    max-height: 1800px;
    flex-direction: column;

  }
  
}


.button19_hero {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid var(--refresh);
  padding: var(--padding-3xs) var(--padding-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 20;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}



/* blog  */

.news-media {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.get-the-latest{
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
  font-size: var(--text-medium-normal-size);
}


.lorem-ipsum-dolor8 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  
}
.lorem-ipsum-dolor8 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content28,
.section-title8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content28 {
  align-self: stretch;
  gap: var(--gap-md);
  font-size: var(--heading-h2-size);
}
.section-title8 {
  position: absolute;
  top: 112px;
  /* left: 336px; */
  width: 100%;
  gap: var(--gap-sm);
}
.placeholder-image8 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
}
.category-wrapper,
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.category-wrapper {
  background-color: var(--light-grey);
  padding: var(--padding-4xs) var(--padding-3xs);
  align-items: flex-start;
}
.info {
  align-items: center;
  gap: var(--gap-sm);
}
.blog-title-heading,
.lorem-ipsum-dolor9 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.lorem-ipsum-dolor9 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  color: var(--black);
}
.content30,
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  width: 416px;
  gap: var(--gap-4xs);
  font-size: var(--heading-h5-size);
  color: var(--deep-blue);
}
.content30 {
  align-self: stretch;
  gap: var(--gap-sm);
}
.button19 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-semi-bold);
  color: var(--black);
  text-align: left;
}
.vector-icon4 {
  position: absolute;
  height: 52.48%;
  width: 29.69%;
  top: 21.84%;
  right: 36.98%;
  bottom: 25.68%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-chevron-right {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.button18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xs);
}
.card,
.row2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-md);
}
.row2 {
 
  width: 100%;
  flex-direction: row;
  gap: var(--gap-lg);
}
.button24,
.content29 {
  display: flex;
  align-items: center;
}
.button24 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
}
.content29 {
  position: absolute;
  width: 93%;
  top: 426px;
  left: 64px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
  text-align: left;
  font-size: var(--text-small-semi-bold-size);
  color: var(--black);
}
.a-culture-of,
.blog-34 {
  position: absolute;
  top: 0;
  left: 0;
}
.blog-34 {
  background-color: var(--refresh);
  width: 100%;
  height: 1157px;
  overflow: hidden;
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
}
.a-culture-of {
  line-height: 120%;
  display: inline-block;
  width: 353px;
}
.careersantoniovenuccicom {
  color: inherit;
}
.button27,
.if-youre-passionate-container {
  position: relative;
  line-height: 150%;
  font-family: var(--text-small-semi-bold);
  text-align: left;
}
.if-youre-passionate-container {
  border: 0;
  font-size: var(--text-medium-normal-size);
  background-color: transparent;
  align-self: stretch;
  color: var(--deep-blue);
}
.button27 {
  font-size: var(--text-regular-semi-bold-size);
  color: var(--white);
}
.button26,
.button28 {
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button26 {
  cursor: pointer;
  border: 1px solid var(--deep-blue);
  background-color: var(--deep-blue);
  display: flex;
}
.button28 {
  border: 1px solid var(--black);
  display: none;
}
.actions5,
/* .content34 { */
  /* display: flex;
  align-items: flex-end; */
  
/* } */
.actions5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) 0 0;
  background-color: transparent;
  flex-direction: row;
  gap: var(--gap-sm);
}
.content34 {
  position: absolute;
  top: 0;
  left: 696px;
  width: 616px;
  flex-direction: column;
  gap: var(--gap-md);
}
.content33{
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 196px;
}


.placeholder-image11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1312px;
  height: 196px;
}
.placeholder-image11 {
  top: 276px;
  height: 500px;
  object-fit: cover;
}
.content-group {
  position: absolute;
  top: 1249px;
  left: 250px;
  width: 100%;
  height: 776px;
}
.section-title9 {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 500px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
  flex: 30%;
  gap: var(--gap-md);
}
.divider8 {
  align-self: stretch;
  position: relative;
  background-color: var(--black);
  height: 1px;
  flex-shrink: 0;
}
.do-you-offer {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.icon2 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.accordion-item,
.title3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.title3 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-md) 0;
  align-items: center;
  gap: var(--gap-xs);
}
.accordion-item {
  flex-direction: column;
  align-items: flex-start;
}
.yes-we-offer {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  display: inline-block;
  height: 60px;
  flex-shrink: 0;
}
.accordion-item1,
.yes-we-offer1 {
  position: absolute;
  left: 0;
  width: 732px;
}
.accordion-item1 {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.yes-we-offer1 {
  top: 63px;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  display: inline-block;
  height: 37px;
}
.accordion-item-parent {
  position: relative;
  width: 732px;
  height: 100px;
  flex-shrink: 0;
}
.our-minimum-order {
  position: absolute;
  top: 73px;
  left: 0;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  display: inline-block;
  width: 732px;
  height: 60px;
}
.accordion-item-group {
  position: relative;
  width: 732px;
  height: 133px;
  flex-shrink: 0;
}
.our-products-are {
  position: absolute;
  top: 63px;
  left: 0;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  display: inline-block;
  width: 732px;
  height: 35px;
}
.accordion-item-container {
  position: relative;
  width: 732px;
  height: 98px;
  flex-shrink: 0;
}
.yes-we-can {
  position: absolute;
  top: 73px;
  left: 0;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  display: inline-block;
  width: 732px;
  height: 30px;
}
.accordion-item-parent2 {
  position: relative;
  width: 732px;
  height: 103px;
  flex-shrink: 0;
}
.our-standard-shipping {
  position: absolute;
  top: 73px;
  left: 0;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  display: inline-block;
  width: 732px;
  height: 106px;
}
.accordion-item-parent3 {
  position: relative;
  width: 732px;
  height: 179px;
  flex-shrink: 0;
}
.accordion {
  /* position: absolute;
  top: 0; */
  left: 580px;
  width: 732px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
  font-size: var(--text-medium-normal-size);
}
.group-wrapper {
  margin-top: 40px;
  /* position: absolute; */
  /* top: 50px; */
  /* left: 0; */
  width: 1312px;
  height: 1147px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-md);
}
.faq-3-inner {
  position: relative;
  width: 1312px;
  height: 1147px;
  flex-shrink: 0;
}
.faq-3,
.faq-3-wrapper {
  /* padding-top: 40px; */
  position: relative;
 
  left: 0;
  width: 100%;
  height: auto;
  overflow: auto;
}
.faq-3 {
  top: 0;
  background-color: var(--refresh);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.faq-3-wrapper {
    top: 6400px;
    color: var(--black);
}
.blog-34-parent {
  position: relative;
  top: 7800px;
  width: 100%;
  height: 3615px;
  text-align: left;
  font-size: var(--heading-h2-size);
  color: var(--deep-blue);
  font-family: var(--text-small-semi-bold);
}

.text1{
  width: 616px;
height: 108px;

/* Text/Medium/Normal */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */


/* Deep Blue */

color: #232F45;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.cont_text{
  position:absolute;
  display: flex;
  align-items: flex-start;
  padding-right: 50;
  
}


/* footer css */
.group-child {
  position: absolute;
  height: 7.97%;
  width: 18.14%;
  top: 0;
  right: 81.86%;
  bottom: 92.03%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  margin-left: -40px;
}
.logo-icon2 {
  position: relative;
  width: 63px;
  height: 27px;
  flex-shrink: 0;
  overflow: hidden;
}
.join-our-newsletter {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.placeholder {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.text-input1 {
  flex: 1;
  background-color: var(--white);
  border: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.button17 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-semi-bold);
  color: var(--black);
  text-align: left;
}
.button16,
.form1 {
  display: flex;
  flex-direction: row;
}
.button16 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.form1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.privacy-policy1 {
  text-decoration: underline;
}
.by-subscribing-you-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.actions4,
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions4 {
  align-self: stretch;
  gap: var(--gap-sm);
  color: var(--neutral-dark-gray);
}
.newsletter {
  width: 500px;
  flex-shrink: 0;
  gap: var(--gap-md);
}
.quick-links {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.column11,
.footer-links1,
.link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
}
.column11,
.footer-links1 {
  flex-direction: column;
}
.footer-links1 {
  /* margin-left: 15px; */
  align-self: stretch;
  font-size: var(--text-small-semi-bold-size);
}
.column11 {
  padding-left: 60px;
  flex: 1;
  overflow: hidden;
  gap: var(--gap-sm);
}
.link8 {
  align-self: stretch;
}
.column12,
.footer-links2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-links2 {
  align-self: stretch;
  align-items: flex-start;
}
.column12 {
  flex: 1;
  overflow: hidden;
  padding: 46px 0 0;
  align-items: center;
  font-size: var(--text-small-semi-bold-size);
}
.icon-instagram1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.instagram {
  position: relative;
  line-height: 150%;
}
.link10 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-xs);
}
.column13,
.content26,
.link10,
.links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column13 {
  margin-left: 60px;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
}
.content26,
.links1 {
  flex-direction: row;
}
.links1 {
  flex: 1;
  gap: 20px;
}
.content26 {
  position: absolute;
  top: 67.31px;
  left: 0;
  width: 100%;
  height: 248px;
  gap: var(--gap-4xl);
}
.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 74.15%;
  width: 3.32%;
  top: 3.63%;
  right: 96.53%;
  bottom: 22.22%;
  left: 0.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  height: 56.62%;
  width: 4.04%;
  top: 22.3%;
  right: 92.33%;
  bottom: 21.08%;
  left: 3.63%;
}
.vector-icon2,
.vector-icon3 {
  height: 75.5%;
  width: 3.96%;
  right: 88.12%;
  bottom: 2.21%;
  left: 7.92%;
}
.vector-icon3 {
  height: 56.62%;
  width: 4.04%;
  right: 83.6%;
  bottom: 21.08%;
  left: 12.36%;
}
.email-relationsantoniovenucc {
  margin: 0;
}
.office-91-129-container {
  position: relative;
  line-height: 150%;
  margin-left: -25px;
}
.column14 {
  position: absolute;
  height: 362.96%;
  width: 40.84%;
  top: 0;
  right: 59.16%;
  bottom: -262.96%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.logo1 {
  position: relative;
  width: 382px;
  height: 27px;
  flex-shrink: 0;
  overflow: hidden;
}
.gstin-06aawca7877n1zi {
  margin-block-start: 0;
  margin-block-end: 0;
}
.content27,
.links2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.links2 {
  flex: 1;
  padding: 0 235px 0 0;
}
.content27 {
  position: absolute;
  top: 345.31px;
  left: 0;
  width: 100%;
  height: 123px;
  gap: var(--gap-4xl);
}
.group-container {
  position: absolute;
  height: 84.79%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 15.21%;
  left: 0;
}
.divider7 {
  align-self: stretch;
  position: relative;
  background-color: var(--black);
  height: 1px;
  flex-shrink: 0;
}
.sitemap {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.footer-links3 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.credits1,
.footer-links3,
.row1 {
  display: flex;
  align-items: flex-start;
}
.row1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.credits1 {
  position: absolute;
  top: 498.31px;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--text-small-semi-bold-size);
}
.group-parent {
  position: relative;
  width: 100%;
  height: 552.31px;
  flex-shrink: 0;
}
.footer-3 {
  position: relative;
  top: 6300px;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--black);
  font-family: var(--text-small-semi-bold);
}


.box {
  /* display: flex; */
  flex: 50%;
  /* flex-direction: column; */
  justify-content: space-between;
  height: 500px;
}


.accordflex {
  display: flex;
  flex-direction: column;

}

.faq1stflex
{ 
  margin-top: 45px;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex: 30%; */
    gap: var(--gap-md);

}
.panel1{
  display: none;
}